[2015-03-17 18:26] mmmavis opened #9 "Make `PROD` links to `master` branch instead of `develop`"

[2015-04-07 18:00] davidascher opened #11 "Awkward icon with spinners"
The lack of color contrast between the spinner icons and the (seemingly off-brand) red circle is jarring, IMO:

![screenshot 2015-04-07 10 59 56](https://cloud.githubusercontent.com/assets/51278/7029863/493b19ca-dd15-11e4-9cc9-530b4a14ffa5.png)

[2015-04-13 22:58] davidascher opened #12 "link to a smaller version of the image on https://discourse.mozilla-advocacy.org/t/welcome-to-mozilla-advocacy-community/81"
The image linked (https://blog.mozilla.org/wp-content/uploads/2014/09/mozilla-advocacy_logo.jpeg?8954f8) is huge, which makes this 'welcome' page load slow on people with low bandwidth connections.

[2015-07-21 15:52] xmatthewx opened #20 "Private eye activity will be deprecated"
The activity featured on the advocacy landing page will be archived soon. You could:
 - add a redirect from https://webmaker.org/en-US/private-eye to https://old.webmaker.org/en-US/private-eye.
 - or move the activity to the MLN site.

See related: https://github.com/mozilla/webmaker.org/issues/1423

[2015-07-31 20:33] andreadelrio opened #25 "Add "notify me" form to Open Web fellowship page"
Add a  "Let me know when call for application opens" form to the Open Web fellowship page so that people can fill in their emails and be notified when we the program starts receiving applications again.

[2015-09-10 20:49] Melechuga opened #27 "[Mobile] advocacy.mozilla.org is janky"
When viewing advocacy.mozilla.org on mobile the text + buttons are misaligned.

[2015-12-04 18:09] mmmavis opened #32 "Open call for 2016 fellows on advocacy.mozilla.org"
from https://github.com/MozillaFoundation/plan/issues/629

* Changing the 2015 "apply to be a fellow" page with new copy

/cc @brettgaylor

[2015-12-17 10:17] tsl143 opened #33 "Unnecessary horizaontal scroll on website."
![screenshot from 2015-12-17 15 46 12](https://cloud.githubusercontent.com/assets/5318732/11867178/6b4c8e94-a4d5-11e5-89d0-d0e89807566f.png)

[2015-12-23 18:43] #32 closed

[2015-12-23 18:43] mmmavis commented on #32
no longer applicable

[2016-02-01 16:14] #33 closed

[2016-02-02 07:04] Melechuga opened #42 "OWF application site: blog link is broken"
Hi @ScottDowne,
The "blog post" link on the Overview page for the fellows program (section: Host Organizations) should link to

https://blog.mozilla.org/netpolicy/2016/02/01/2016-open-web-fellows-program-host-organizations/

Thank you!

[2016-02-02 14:00] t1msammut opened #43 "Apply Now section, PST or PDT?"
The "Apply Now" section on many of the pages shows the application deadline as 11:59pm PST March 20, 2016. However, daylight savings time starts on March 13 this year. Should that be PDT instead of PST?

![screenshot from 2016-02-02 13-58-16](https://cloud.githubusercontent.com/assets/10746039/12751420/00cd61ba-c9b5-11e5-8b3c-0d17af47eb3a.png)

[2016-02-02 15:35] Melechuga commented on #43
@t1msammut Great catch! Yes, it should be PDT.

@ScottDowne Can you please change this on all instances where it says the deadline is 11:59 PST? Thank you!

[2016-02-02 16:34] ScottDowne commented on #42
Fixed

[2016-02-02 16:34] #42 closed

[2016-02-02 16:36] ScottDowne commented on #27
I'm not seeing it, can you add a bit more info or maybe a screenshot? Maybe I need to test on a different device, or I'm not looking in the right spot or right context?

[2016-02-02 16:37] ScottDowne commented on #27
oh, lol, this was the old site wasn't it?

Sept 10 2015. Closing.

[2016-02-02 16:37] #27 closed

[2016-02-02 16:52] ScottDowne commented on #43
Updated

[2016-02-02 16:52] #43 closed

[2016-02-02 16:52] ScottDowne commented on #9
After new site launched, we just have master now.

[2016-02-02 16:52] #9 closed

[2016-02-02 16:53] ScottDowne commented on #11
New site removed all this.

[2016-02-02 16:53] #11 closed

[2016-02-02 16:53] ScottDowne commented on #12
New site removed this image.

[2016-02-02 16:53] #12 closed

[2016-02-02 16:58] ScottDowne commented on #20
New site removed this, closing.

[2016-02-02 16:58] #20 closed

[2016-02-02 17:01] kristinashu opened #46 "update link to the host org blog post"
Host org blog post is now up https://blog.mozilla.org/netpolicy/2016/02/01/2016-open-web-fellows-program-host-organizations/

@ScottDowne can you please update the link under Host Organizations on http://advocacy.mozilla.org/open-web-fellows/ ?

cc @Melechuga

[2016-02-02 17:08] ScottDowne commented on #46
Was done this morning.

[2016-02-02 17:10] ScottDowne commented on #46
Hm, maybe I got this wrong.

[2016-02-02 17:16] kristinashu opened #48 "add encryption banner to home page"
Design and implement banner for encryption campaign.

Banner will need to go live at the same time as the encryption campaign - Feb 10th.

cc @ScottDowne @cassiemc

[2016-02-02 17:17] ScottDowne commented on #46
I had the wrong link changed, I noticed when I read this description that it was wrong. It's fixed properly now.

[2016-02-02 17:17] #46 closed

[2016-02-02 17:17] kristinashu commented on #48
For my reference, campaign design is here https://github.com/MozillaFoundation/encryption_campaign/issues/40#issue

[2016-02-02 17:18] ScottDowne commented on #48
I'll be on PTO Feb 8th, but I can have it ready to go Friday, just someone else needs to hit "go"

[2016-02-02 17:19] kristinashu commented on #48
Ok, sounds good. I should have the design done today.

[2016-02-02 17:27] kristinashu opened #49 "design and implement email sign up on home page"
Based on https://github.com/MozillaFoundation/movement-building/issues/82

Lets make the home page email sign up the same functionality and similar look as on the encryption campaign micro site - https://github.com/MozillaFoundation/encryption_campaign/issues/40#issue

I think this will be a sign up button which opens a form asking for user's name, email and country.

@ScottDowne I'll updated the

[2016-02-02 18:19] ScottDowne commented on #49
@kristinashu just to confirm, that means we want country dropdown now? Given that the micro site has country too.

[2016-02-02 18:27] kristinashu commented on #49
@ScottDowne yeah I think it will need to have name, email and country drop down to be consistent. Although I would love to AB test sign up forms - one with the three fields and one with just email sign to see if more having fields is a deterrent.

@HPaulJohnson do you think this is worth testing or do we have to have the three fields? I'm curious what the reasoning is behind asking for the name an

[2016-02-02 20:21] kristinashu commented on #48
@lovegushwa here's how the campaign banner looks on advocacy https://redpen.io/p/wt1d64bfb93fa6a6b8 - does that work for you?

[2016-02-03 17:24] lovegushwa commented on #48
@kristinashu yes it works! (colors look muted but I think that's a github / redpen thing.)

[2016-02-03 21:19] kristinashu commented on #48
Thanks @lovegushwa, yeah colours should be the same.

@ScottDowne here's the comp: https://redpen.io/p/wt1d64bfb93fa6a6b8

ENCRYPT text (SVG and PNG options): https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLeWE1cjZELU9PT28&usp=sharing

Background colour:  #073E76

Banner height is 800px (a little taller than the other secondary pages).

[2016-02-04 22:05] kristinashu opened #50 "Add favicon to site"
Please add the mozilla 'm' fav icon to http://advocacy.mozilla.org/
I think the previous version of the site had it.

[2016-02-05 16:17] Melechuga opened #51 "Scope adding Ford logo to OWF site"
We've forgotten to add Ford Foundation's logo to the OWF site. Questions I have:
1. What is the process for  adding an external org's logo? (i.e. is legal or code review necessary?)
2. Assuming this isn't an issue, what would the timeline (from our side) be? Design, dev, updating, etc.
3. What do we need from Ford?

If I've missed any questions that should be considered, please include them in thi

[2016-02-05 18:50] kristinashu commented on #51
We would need a vector (.eps) version of the Ford Foundation logo and any copy they want to have with it (ex. "in partnership with"). Would the logo need to be on all three of the fellowship pages or just on the overview page?

I can do design for this next week if we have the logo.

[2016-02-05 18:54] kristinashu commented on #48
@ScottDowne will you be able to set this up before you go?

[2016-02-05 19:14] ScottDowne commented on #48
I can try to do it before I leave today.

[2016-02-05 19:39] HPaulJohnson commented on #48
Heads up: the campaign launch date is actually 2/10 so promo should go live then (not 2/8 as stated above). cc/ @lovegushwa

[2016-02-05 21:00] kristinashu commented on #48
Thanks @HPaulJohnson, I've updated the comment above. Do you know what the URL will be?

[2016-02-05 21:54] kristinashu commented on #48
We think the URL will be a.m.o/encrypt but will need to confirm.

[2016-02-05 21:59] HPaulJohnson commented on #48
confirmed - URL will be advocacy.mozilla.org/encrypt

[2016-02-06 09:15] Melechuga commented on #51
Thanks @kristinashu. I think it only needs to be on the "overview" page above the footer. I've asked Ford for logo and text. Will update here asap.

[2016-02-06 11:20] Melechuga opened #53 "[Plan] Open Web Fellows 2016 Communications Plan"
*Detailed goals in Open Web Fellows 2016 Comms Plan [Google Docs] (https://docs.google.com/document/d/1x8lUU_rUF-WfgQNjyaI-u6fQ8IG1hLrjeJai3TrZ7U0/edit)*

**RASCI:**
R: Kevin Zawacki @KevZawacki
A: Paul Johnson @HPaulJohnson
S: Brett Gaylor @brettgaylor  Melissa Romaine
C: Fellows, Sam Burton, host org. communications teams
I: MoFo comms

**Overview:**
The first quarter of 2016 marks a major momen

[2016-02-06 12:19] Melechuga commented on #53
FYI Had to stick this in this repo bc I don't have access to the mofo/plan repo.

[2016-02-07 01:40] ScottDowne commented on #48
I created a pull request for this here: https://github.com/mozilla/advocacy.mozilla.org/pull/54

It should be tested before Tuesday and ready to ship for Wednesday (10th)

I have a live demo for this here: http://tranquil-hollows-89070.herokuapp.com/

@alicoding @alanmoo @jbuck One of you probably wants to do a test on this too.

[2016-02-08 16:20] cassiemc commented on #53
You should have access now if you'd like to move it.

[2016-02-08 19:34] Melechuga commented on #53
Moved to MoFo/plan repo: https://github.com/MozillaFoundation/plan/issues/720

[2016-02-08 19:34] #53 closed

[2016-02-08 21:20] Melechuga commented on #51
Added Ford Foundation's logo (PDF + eps versions) to the logo folder.
https://drive.google.com/open?id=0BybHRPPm37TJRzZNMklmYUFqUDQ
Will update here with the text as soon as we get it from them. @kristinashu

[2016-02-09 17:20] Melechuga commented on #51
@kristinashu This is the text Ford has asked us to include:

The Ford Foundation works around the world on the frontlines of social change to fight inequality, strengthen democratic values, reduce poverty and injustice, and advance human achievement. Learn more at [FordFoundation.org](http://www.fordfoundation.org/)

Happy to discuss design ideas; at the moment, I think the best placement is below

[2016-02-09 18:38] jbuck commented on #48
@HPaulJohnson is there a specific ship time tomorrow?

[2016-02-09 22:09] kristinashu commented on #51
@Melechuga @cassiemc I've added the logo and description to the bottom of the overview page https://redpen.io/p/wt1d64bfb93fa6a6b8 - let me know what you think.

Is there a rush for this? Scott is away this week so he won't be able to do it but if it's important I'm sure we could find someone to make the update.

[2016-02-09 22:16] KevZawacki opened #56 "Correct typo on advocacy.mozilla.org"
Hi there,

Small change needed to advocacy.mozilla.org subhead. "Mozilla" at the start of the third paragraph should be capitalized:

![advocacy typo](https://cloud.githubusercontent.com/assets/11045250/12932417/8c9b85c8-cf37-11e5-9bf0-631551040f83.png)

@kristinashu, are you able to make this change?

[2016-02-09 22:19] Melechuga commented on #51
@kristinashu
Thanks for doing this so quickly! It would be good to have this up asap, though it's not a blocker for anything else. I've added 2 comments regarding placement.

[2016-02-09 22:35] kristinashu commented on #48
@jbuck looking at https://github.com/mozilla/teach.mozilla.org/issues/1619#issuecomment-182098921 it sounds like the encryption micro site won't be launching tomorrow, so we won't be pushing this update tomorrow.

[2016-02-09 22:39] HPaulJohnson commented on #48
just to clarify: the microsite will be launching tomorrow but we are not doing any active promotion out of the gate and therefore don't want the teach. banner to go live.

[2016-02-09 22:44] kristinashu commented on #56
Sorry @KevZawacki I'm not able to make this update. It would be Scott but he's on PTO. @alicoding any chance you would be able to do this?

[2016-02-09 22:46] alicoding commented on #56
I just fixed it in my local development branch. This will be done part of the encryption campaign, so when we land the page it should have the fix. Unless this is urgent I can make another pull request now.

[2016-02-09 22:46] KevZawacki commented on #56
Works for me -- thanks all!

[2016-02-09 22:47] kristinashu commented on #56
That was so fast! Thanks!

[2016-02-09 23:06] kristinashu commented on #51
@Melechuga I've updated the link, let me know if it working better now: https://redpen.io/p/wt1d64bfb93fa6a6b8

[2016-02-09 23:45] kristinashu opened #57 "Implement add Ford logo to OWF site"
We need to add a section to https://advocacy.mozilla.org/open-web-fellows/

Needs to include: Ford Foundation logo, description and link to their site https://www.fordfoundation.org/

Based on design in https://github.com/mozilla/advocacy.mozilla.org/issues/51
here is the comp https://redpen.io/p/wt1d64bfb93fa6a6b8

Assets:

Ford logo svg: https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivh

[2016-02-09 23:47] kristinashu commented on #51
Closing this ticket and opened an implementation one https://github.com/mozilla/advocacy.mozilla.org/issues/57

Scott is actually away for a couple weeks so seeing if someone else can do it.

[2016-02-09 23:47] #51 closed

[2016-02-10 05:30] ScottDowne commented on #57
@alicoding review? https://github.com/mozilla/advocacy.mozilla.org/pull/68

[2016-02-10 17:24] ScottDowne commented on #57
It's live

[2016-02-10 17:24] #57 closed

[2016-02-10 17:25] kristinashu commented on #57
Excellent, thanks!

cc @Melechuga

[2016-02-10 17:26] kristinashu commented on #56
Update is live https://advocacy.mozilla.org/

[2016-02-10 17:26] #56 closed

[2016-02-10 17:38] Melechuga commented on #57
Thank you!

[2016-02-11 22:09] HPaulJohnson commented on #48
Update: we can go live with this on Tuesday 2/16 as part of the kickoff of official promotion of this campaign.

[2016-02-11 22:21] kristinashu commented on #49
@cassiemc could I please get your thoughts on these two email sign up options?
Home - 1 field email sign up: https://redpen.io/p/wt1d64bfb93fa6a6b8
Home - 3 field email sign up: https://redpen.io/p/wt1d64bfb93fa6a6b8

Also opened a ticket about check boxes https://github.com/mozilla/teach.mozilla.org/issues/1632

[2016-02-11 23:03] cassiemc commented on #49
@kristinashu I woudn't worry about testing for now, something we can optimize later. Mostly just need to get the ability to sign up form on there :) Not sure what the redpens are... maybe add screenshots here?

[2016-02-11 23:07] cassiemc commented on #49
As said on mattermoz, let's do whatever was done on the encryption site to save dev time. We can test that later, maybe can file as a followup bug. It'd be a good thing to know! And it's likely that adam or andrea may already have data on it too

[2016-02-15 22:45] kristinashu commented on #49
I've made a new redpen with the three options: https://redpen.io/p/cp9085ec873c887b3c
I think all three would have similar dev time. @alanmoo you would most likely be building this email sign up so please feel free to weight in if you have any preferences or concerns.
I think option 1 offers the best usability.

[2016-02-17 17:39] alicoding commented on #48
This is now done and live here https://advocacy.mozilla.org/

[2016-02-17 17:42] kristinashu commented on #48
Looks great, thanks @alicoding!

[2016-02-17 17:42] #48 closed

[2016-02-17 17:58] drewrwilson opened #90 ""Join the conversation" element is out of line on encrypt page"
The new site is beautiful! I noticed what may be a bug. The "Join the Conversation" link on the [encrypt main page](https://advocacy.mozilla.org/encrypt/) is not in line with the other links on that site. Not sure if intentional or a bug.

![image](https://cloud.githubusercontent.com/assets/4324656/13119199/ed38ef3a-d575-11e5-895f-99f32bae3cf2.png)

Chrome Version 48.0.2564.109 (64-bit) on MacOS

[2016-02-17 18:08] davidascher opened #91 "Site needs a favicon"

[2016-02-17 18:09] cassiemc commented on #91
This is a dupe of #50

[2016-02-17 18:09] #91 closed

[2016-02-17 18:23] tripad commented on #50
Do we use the Mozilla icon or the Mozilla Advocacy icon ?

[2016-02-17 18:32] kristinashu commented on #50
Just the Mozilla icon (like on https://teach.mozilla.org/) would be great.

[2016-02-17 23:55] brettgaylor commented on #90
Fixed!  Thanks, Drew!

[2016-02-17 23:55] #90 closed

[2016-02-17 23:55] alanmoo commented on #90
Yup, this was a bug in Chrome for some odd reason. Should be fixed now, thanks for reporting it!

[2016-02-26 18:39] Pomax opened #106 "reorder the videos?"
When I load up https://advocacy.mozilla.org/encrypt/2 I get the videos presented as:

![screenshot 174](https://cloud.githubusercontent.com/assets/177243/13361702/24215964-dc75-11e5-94ef-7054635b6406.png)

it feels like it might be better to reorder those, so that they're presented as "1, 2, more" instead.

[2016-02-26 18:40] brettgaylor commented on #106
you aren't the first to notice :)

However, we're following the convention of the most recent video released being the "featured", and listing them in descending order from there.

What messes with this is the "coming soon", but we don't want that to appear BEFORE the latest video, right?

[2016-02-26 19:12] Pomax commented on #106
Not unless we're used to Japanese itemization =P

That said, would it make sense to "feature" the most recent video differently? E.g. use the "1, 2, more" ordering ("2, 3, more", "5, 6, more" eventually) but then make the center video stand out by make it a fraction larger, and the left/right rects a fraction smaller?

![screenshot 175](https://cloud.githubusercontent.com/assets/177243/13362509/db

[2016-02-26 19:17] brettgaylor commented on #106
I think its a design question, and I’m happy deferring to the expertise of @natalieworth :)

[2016-02-26 19:19] Pomax commented on #106
(also note I'm mostly commenting as a user here, rather than as mofo person, I had not actually look at the site before >_>;)

[2016-02-26 20:04] alanmoo commented on #106
How many videos are planned in total @brettgaylor?

[2016-02-26 20:07] brettgaylor commented on #106
2 more videos.  We also may need to feature things that are not videos.  For example, the interactive piece, or a bit of writing, or a petition.

[2016-03-14 21:53] kristinashu opened #114 "Design updates to OWF site, close applications"
Based on https://github.com/MozillaFoundation/plan/issues/765

Close OWF applications at midnight (PT) March 20th. Update the messaging on the website on March 21st to:
-     Thank people for their interest
-     Explain the application window is closed
-     Explain that those who've applied will hear from the Open Web Fellows team directly

We should keep the program information available for ca

[2016-03-14 22:18] kristinashu commented on #114
@Melechuga I've mocked up the updates https://redpen.io/hyd170a39c7b5c0e5e

Very minor, just removed the Apply Now button from the top banner and from the bottom banner just above the footer. Can you please suggest some updated copy for the bottom banner?

[2016-03-14 22:35] Melechuga commented on #114
Thanks @kristinashu! Text is below; waiting for sign-off from @brettgaylor.

"**Application Closed**" Thank you to everyone who applied. We will be contacting candidates directly in the next few weeks, and announcing 2016 fellows in June. If you’re interested in what current fellows are doing, please visit [link to the Fellows page].

[2016-03-14 22:38] kristinashu commented on #114
Thanks for the copy, I've updated redpen: https://redpen.io/hyd170a39c7b5c0e5e

![openwebfellows-updates_info_overviev 2x](https://cloud.githubusercontent.com/assets/1068783/13762239/c83fff04-e9fa-11e5-9866-8dac3f731d5f.jpg)

[2016-03-14 23:15] kristinashu opened #115 "[March 21, 2016] Implement updates to OWF site, close applications"
Based on plan issue MozillaFoundation/plan#765 and design https://github.com/mozilla/advocacy.mozilla.org/issues/114

**Deadline March 21, 2016**

Comp: https://redpen.io/hyd170a39c7b5c0e5e

**To do:**
- top banner: delete Apply Now button on all three fellowship pages
- bottom banner: update copy and button link

**Bottom banner copy for Overview and Info page:**
Title: Application Closed
Copy: T

[2016-03-15 18:38] gesa opened #117 "Search engine description is react tags"
*OS:* ALL
*Browser:* ALL
*Screenshot:* ![](https://snaps.akibraun.com/ct3c1.png)

**Repro Steps:**
1. Search "mozilla encrypt" in Google
2. Find first <https://advocacy.mozilla.org/encrypt/> result (fourth down for me)

**Expected:** Text describing content of the encrypt series
**Actual:**

The link redirects to <https://advocacy.mozilla.org/encrypt/social/3>, which is missing a `<meta name="desc

[2016-03-15 19:24] brettgaylor commented on #117
@gesa A new framework they said. It'll make everything better they said :)  Thanks for filing!  See you next week!

[2016-03-15 20:14] alanmoo commented on #117
Eeek! I believe this should be resolved by https://github.com/mozilla/advocacy.mozilla.org/pull/118, which just went live, but I'll follow up.

[2016-03-15 20:18] alanmoo commented on #117
Hmmm...still doesn't have a `meta` description. @brettgaylor, who would be the person to ask for that?

[2016-03-16 16:12] kristinashu commented on #114
@brettgaylor do these copy changes work for you? https://redpen.io/hyd170a39c7b5c0e5e
Would be great to get approval so I can give these to dev for implementation.

[2016-03-16 17:44] Melechuga commented on #114
Hi @kristinashu. @brettgaylor suggested we can be more specific in the text, and say "...contacting candidates in **mid-April.**" Does that work? Thanks.

[2016-03-16 17:57] kristinashu commented on #114
Thanks @Melechuga. Sorry I just realized I missed the "announcing 2016 fellows in June" part. So this would be the copy:

Thank you to everyone who applied. We will be contacting candidates directly in mid-April and announcing 2016 fellows in June. If you’re interested in what current fellows are doing, please visit our fellows page.

[2016-03-16 17:59] Melechuga commented on #114
That's great! Thanks @kristinashu

[2016-03-16 18:01] #114 closed

[2016-03-16 18:04] kristinashu commented on #115
@simonwex design has been approved so we're ready to implement

[2016-03-16 23:06] valianttry commented on #117
can't we just use existing text:

"Your online privacy depends on encryption. Learn more about how encryption works, why it's essential to a strong Web, and why it's worth protecting."

Also hoping this takes a total of 30 seconds to fix since i doubt more than 10 people in the world are googling mozilla's encryption campaign.... esp anyone outside mozilla's staff or former staff.

also hi @gesa !

[2016-03-17 00:19] brettgaylor commented on #117
Hey @alanmoo - is this for the entire site, or just encryption campaign?  If for entire Mozilla Advocacy site, can we use "Building a Global Movement to Protect the Free and Open Web"

[2016-03-17 00:41] alanmoo commented on #117
Just the encryption campaign, @brettgaylor. It's been deployed to production and should fix itself next time search engines index the site.

[2016-03-18 21:30] mmmavis commented on #115
Just self-assigned. Gonna aim to have a PR ready today so we can push it live next Monday (March 21st)

[2016-03-18 21:44] kristinashu commented on #115
Excellent, thanks @mmmavis!

[2016-03-21 18:57] #115 closed

[2016-04-01 18:58] alicoding opened #132 "Media management for advocacy campaign"
### Problems

1. Have to use github to upload the media file
2. Have to get dev to change the url to that newly added media
3. Time consuming when devs are focusing on their P1s

### Propose solution

Using github new feature for uploading a media file or CMS and get the URL then update it on some interface that allows anyone to update the URL > preview and apply their changes.

or

Create an inte

[2016-04-01 19:02] alicoding opened #133 "Partial templates for content editing"
### Problems

1. Have to use github to update the copy
2. Have to get dev to change the copy

### Propose solution

Using CMS that allows anyone to change the copy with the option to preview before apply their changes (draft preview).

### Goal
We need to allow anyone who's working on the campaign to be able to change the copy or even add new section to the site like the example before

![ruaaxfbp

[2016-04-01 19:57] simonwex commented on #133
@alicoding the proposal needs some more details. Let's start with a flow diagram of the current way content makes its way onto the campaign sites. Who has to approve it? Who writes it? What are the constraints?

[2016-04-01 20:01] simonwex commented on #132
@alicoding I think it'd be good to delve into the details of the media. Is it video? Images? Audio?

Also, to be clear; we're talking about media management, not hosting/distribution here. Especially as campaigns grow and are focused in regions that AWS doesn't focus on, we're going to need help with distribution and encoding.

[2016-04-01 20:12] lovegushwa opened #134 "Advocacy content+design+dev communication process"
Dig into communication problems identified in Q1 campaign:
(more details about problems here: https://public.etherpad-mozilla.org/p/dev-adv )

What are the problems / pain points around communicating content and specifications for:
- page content (text on a page)
- page variants
- user flow
- AB testing (share progress, optimizely)
- GA
- modals (email signup/pledge form & social share)
- UX state

[2016-04-01 20:37] lovegushwa opened #135 "Advocacy + MOCO collaboration (design and dev focus)"
Define a process for collaborating with MOCO snippet, UX, brand and policy teams:

This is a huge sticky area to solve. We're focusing on issues that impact design and dev with an eye for technical / UX requirements (ie. how to ship a snippet) and creative/content approval (effects how much time dev's have when working quickly, any any revisions).

Stuff to dig into:
- requirement briefs
- approva

[2016-04-02 00:31] alicoding commented on #133
@simonwex I updated the issue, but I might be wrong in some of the step there, and @lovegushwa might be able to help identify or point out if my flow chart is in the right track here?

[2016-04-02 04:03] alicoding commented on #132
So, I guess what we're trying to solve here is also for any stakeholders, designers or devs to be able to upload/remove any media files from a single place. Also, maybe get an embeddable video code to allow anyone to add new video to the page? About distribution and encoding where I see Youtube does pretty good job at it and AWS is other private alternative for hosting video specifically that is g

[2016-04-02 13:56] alicoding commented on #117
This is now fixed :)

![](https://dl.dropboxusercontent.com/spa/n5v3bx9nnjkdpzf/dbdhegpc.png)

[2016-04-02 13:56] #117 closed

[2016-04-02 14:15] alicoding commented on #50
This is done

[2016-04-02 14:15] #50 closed

[2016-04-04 21:53] lovegushwa commented on #133
@alicoding @simonwex we're really talking about these campaign pages:
(not the advocacy.mozilla.org page above.)

https://advocacy.mozilla.org/encrypt/social/4

Ali your current flow above is close but copy comes in two different ways:
Final approved copy: goes into a github build ticket along with UI comps.
Additional copy edits:  go into the QA ticket (not individual copy change tickets.)

I'm n

[2016-04-13 14:33] ScottDowne opened #136 "Figure out better a/b test setup and takedown"
Right now, react and optimizely don't work well together. Causes some issues and I have a few initial thoughts on solutions.

In donate most a/b tests needed to be coded directly into the repo, which is fine for larger tests, but smaller ones it's a bit of a hassle. This is because react renders pages in a similar way to how optimizely adds the test changes. If these processes are not aware of eac

[2016-04-14 00:54] ScottDowne opened #138 "staging build failed when pushing to master"
@alanmoo Not sure, heroku says this: "The account which we use to deploy advocacy-mozilla-org-staging to Heroku via GitHub sync no longer has access to the app. This could be because the person who configured GitHub sync is no longer a collaborator on advocacy-mozilla-org-staging."

Sounds like I don't have permission?

[2016-04-14 03:07] alanmoo commented on #138
The connection from @jbuck's account must have changed.

[2016-04-14 03:58] alanmoo commented on #138
I don't have admin access to this repo, so I can't connect it. @cadecairos can you help? https://dashboard.heroku.com/apps/advocacy-mozilla-org-staging/deploy/github connect it to this repo.

[2016-04-14 14:27] ScottDowne commented on #138
Fun. @alanmoo I think I had access and it seems it worked.

[2016-04-14 15:04] ScottDowne commented on #138
Fixed now and staging is built. I had to do a manual build just on my one patch, but from here out should be fine.

[2016-04-14 15:04] #138 closed

[2016-04-17 16:02] ScottDowne opened #142 "memory issues with babel-core/register"
I'm pretty sure we're using this right now in production, but we shouldn't because it uses a lot of memory. (200-300mb)

This is being used to turn es6 into es5 as the code is requested instead of once at build time.

We need to add a build step to compile files from es6 in src/ to es5 in dist/ or something.

[2016-04-18 14:39] alanmoo opened #143 "Identify deadlines"
As the development process is being planned, we need to know what our deadlines are so that we can allocate time appropriately and know when we need to stop making changes so that appropriate QA can be done.

[2016-04-18 14:50] alanmoo opened #144 "Develop process for identifying finalized content."
A small text change might not take long, but constantly having to jump back in and out of the codebase to fix typos and update assets can result in a loss of development time. We should have a process for identifying completed and approved content that makes it easy for developers to identify and incorporate. (A Google doc that's used for evolving the content can be hard to rely on as a source of

[2016-04-18 14:52] alanmoo opened #145 "Identify decision-makers"
As a project is developed, questions inevitably arise that require answers from a variety of people. Many people have opinions in various areas, but specific people generally have the final say on certain areas (analytics, content, design, etc). As each projects starts, those people should be identified so that pressing issues can be resolved quickly.

[2016-04-18 15:01] alanmoo opened #146 "Establish roll of and communcation with DevOps"
We should figure out how to keep DevOps in the loop for upcoming needs without overloading them with information.

[2016-04-18 15:09] alanmoo opened #147 "Identify documentation requirements"
As a project is built, there's likely a need for some set of documentation. We need to figure out what that is for each project. Some ideas:

* Goals of a campaign
* Workflow of a technical project (CI, deployment, etc)
* Stakeholders

[2016-04-20 20:04] kristinashu commented on #49
Closing this since no one is really asking for it to be done, not sure it is necessary.

[2016-04-20 20:04] #49 closed

[2016-04-25 13:37] ScottDowne commented on #142
This was fixed in https://github.com/mozilla/advocacy.mozilla.org/commit/8bc1f7cf398a3e2da744c13efc60b37b75798a3b

[2016-04-25 13:37] #142 closed

[2016-04-25 13:50] ScottDowne commented on #136
This looks kinda interesting https://www.npmjs.com/package/rehacked

Seems to be a way to mess with react's render outside of react. Was initially made to be used with optimizely, which is kinda what we need. I'm looking for something that's not super disruptive to the source code itself, ideally completely outside of the source, if possible, and can still use optimizely's interface for adding and

[2016-05-06 03:22] lovegushwa commented on #135
**Snippet Process:**
1. Brief
2. Copy
3. Policy Review (revise?)
4. Snippet Design
5. Dev Review (revise?)
6. Advocacy Review (revise?)
7. MOCO Brand + Snippet + UX team review (revise?)
8. Build
9. QA (revise?)
10. Snippet Dev Review (revise?)
11. Ship

**Templet Snippet Process:**
1. Brief
2. Copy
3. Policy Review (Revise?)
4. Advocacy +  MOCO Snippet Review (Revise?)
5. Snippet Dev Review (Revi

[2016-05-06 03:26] lovegushwa commented on #135
**Landing page / Petition page / Campaign page Process:**
1. Brief
2. Copy
3. Policy Review (revise?)
4. Design
5. Dev Review (revise?)
6. Advocacy Review (revise?)
7. MOCO Brand review (revise?)
8. Build
9. QA (revise?)
10. Ship

**Landing page / Petition page / Campaign page Template Process:**
1. Brief
2. Copy
3. Policy Review (revise?)
4. Advocacy Review (revise?)
5. MOCO Brand review (revise?

[2016-05-06 03:30] lovegushwa commented on #135
MOCO Brand Brief:
https://docs.google.com/document/d/1anVtp-0LxRlFtD3tPL3-VkLKD0uhPI-92m0j3ZRnU6s/edit?ts=570dd612

MOFO Design Brief (little more geared towards product):
https://docs.google.com/document/d/1H4rDTT7zdvOFhGlgMDIuRLlTRlAxMsU_-mUehv_iEZU/edit

Recommendation:
Need input from a Dev in the brief process about technical requirements, need to modify a Brief doc so it includes something l

[2016-05-06 04:16] lovegushwa commented on #135
Next steps:
Agree on process above
Create flowchart if necessary
Document points of contact for review's

[2016-05-06 16:56] lovegushwa commented on #134
Creating and User-flow docs is a good step towards clarifying: page variants, what and where to AB test, UX states and localization.

Produce / Website user-flow (webmaker benchmark):
![screen shot 2016-05-06 at 9 48 01 am](https://cloud.githubusercontent.com/assets/12228435/15079841/b5d67368-136f-11e6-87d7-ced57f166d02.png)

User journey (with test variants)
![d60eaaae-bea3-11e5-9204-d319700c356e

[2016-05-06 17:13] lovegushwa commented on #134
Next steps:

- Standardize user journey / user flow process & temples (or tools)
- Standardize language! and share it, and agree on it (ie. what we name pages, call page elements, call interactive elements.) would be great if dev's could advise on this.

[2016-05-09 18:45] simonwex commented on #134
I love this. @ScottDowne, could you give some feedback?

[2016-05-09 18:56] ScottDowne commented on #134
@lovegushwa Can we use vidyo to go over this?

[2016-05-09 20:26] ScottDowne commented on #136
I did some experiments/investigation/research.

The issues with Optimizely are:
  - Executing a code change from a test stored in optimizely requires eval to be allowed on the server. It's an okay method but does open a security vector.
  - Optimizely doesn't work with react's state.

General issue:
  - Ensure code implemented tests are remove timely and correctly.

What I tried:
  - Create an opt

[2016-05-11 17:54] lovegushwa commented on #134
@simonwex

@ScottDowne and I talked about User Flow & User Journey maps.
User Journey (the 2nd image) will be the most beneficial for us since it map's sources of traffic and page variants. The Journey will help us understand all the pages we need to build and provide a key for page names.

User flow is probably not necessary, we can replace this document with detailed wire-frames and simple AI (w

[2016-05-13 13:52] ScottDowne commented on #106
I'm doing a bit of cleaning, by trying to move issues to https://github.com/MozillaFoundation/Advocacy or close them where it makes sense.

I don't think we should make any code changes to the existing piece, but this is something that should be brought up during the design process for the next campaign.

Closing.

[2016-05-13 13:52] #106 closed

[2016-05-13 13:54] ScottDowne commented on #106
To be fair it's not worth changing the current code simply because it's too late and the ticket is a bit old.

[2016-05-13 14:03] ScottDowne commented on #136
Closed, next step is here https://github.com/MozillaFoundation/Advocacy/issues/28

[2016-05-13 14:03] #136 closed

[2016-05-13 15:22] alanmoo commented on #106
There was a plan to reorder the videos once the campaign was over, it should just involve changing an Array.push to Arry.unshift (or vice versa)

[2016-05-16 19:05] drewrwilson opened #151 "Add a featured section for Tools for Activism"
Working with @brettgaylor on this. Wanted to open a thread here so I could put in updates and stuff. I may do a work-in-progress pull request so they code is hosted here instead of just locally.

Concept:
_(Text can change, image can change)_

![screen shot 2016-05-16 at 14 35 49](https://cloud.githubusercontent.com/assets/4324656/15300631/9b16e606-1b77-11e6-8141-fee4eeb6e390.png)

[2016-05-17 19:17] xmatthewx opened #153 "Check logo"
It might be my eyes, but the word `Mozilla` seems too far above the word `Advocacy`. True or false?

<img width="463" alt="screenshot 2016-05-17 15 15 26" src="https://cloud.githubusercontent.com/assets/53411/15335989/61b38448-1c42-11e6-854f-b5f81044ba24.png">

[2016-05-17 21:31] hannahkane opened #155 "Design for OWF refresh"
See https://github.com/MozillaFoundation/plan/issues/812 for details

[2016-05-17 21:33] hannahkane opened #156 "(On August 1, not before) Implement OWF refresh"
See #155

<s>Deadline is July 1st at the latest, but ideally before.</s.>

Go Live date is August 1

[2016-05-19 17:06] Melechuga commented on #155
tagging me; need to tag Vanessa when she gets access.

[2016-05-19 17:07] Melechuga commented on #156
tagging me; need to tag Vanessa when she gets access.

[2016-05-25 17:26] kristinashu commented on #155
Tag! I'll most likely be doing the design for this.

[2016-05-25 17:41] Melechuga commented on #155
cc @vanessarhinesmith

[2016-05-25 20:34] vanessarhinesmith commented on #155
Tag < > I'm in.

[2016-05-25 20:39] hannahkane commented on #155
Going to move this to the current heartbeat to get started, but pending conversation with @kristinashu about her time.

[2016-05-25 22:27] kristinashu commented on #153
Yeah we can tighten that up! We can do this update along with the upcoming OWF updates.

[2016-05-25 23:28] hannahkane opened #165 "Design assets for OWF one-year report"
The draft document is here: https://docs.google.com/document/d/15ozoyElpjgfhCRA9t1PgqRx-KrDtL4k2yDfn9t8Rm5s/edit

We'll use the [Web Literacy Whitepaper](http://mozilla.github.io/content/web-lit-whitepaper/) as a template for the design, though we'll add design elements as needed.

### Design TODOs
 - [x] Choose a color for the template
 - [x] Identify or design a graphical element for the top lef

[2016-05-25 23:30] hannahkane commented on #165
Suggesting we start on this *next* heartbeat, but @KevZawacki @Melechuga and @vanessarhinesmith might want to add items to the list above in the meantime.

@kristinashu, if you have time you might want to review the draft content and see if you can identify additional design tasks as well.

[2016-05-26 18:13] kristinashu commented on #165
Sounds good!

@flukeout @vazquez can you please share any design files you have for the Web Literacy Whitepaper and any other similar templates? I also vaguely remember a quote treatment, have either of you done one before?

[2016-05-26 18:27] kristinashu opened #168 "Content for OWF refresh"
See MozillaFoundation/plan#812 for details

We will need copy:
- [x] To welcome and announce the 8 new fellows
- [x] Revised and shortened info page copy
- [x] Short bios of each fellow, the work they'll be doing at their host orgs (Include twitter handles of each fellow, links to host org websites)
- [x] Possible changes needed to the fellows site to make it an alumni page

Images:
- [x] photos o

[2016-05-26 18:31] kristinashu commented on #155
Content ticket is here https://github.com/mozilla/advocacy.mozilla.org/issues/168 and I'll do design once we have the updated content.

[2016-05-26 20:41] Melechuga commented on #168
@vanessarhinesmith and I are hacking [on this doc](https://docs.google.com/document/d/1-Usw1YWS_GgbcC6rOC9el3wl8JIeJSDfNeHZDv8FeSc/edit) to get the copy in place. Will ping @KevZawacki when it's ready. Our plan is to have a workable draft by next Wednesday (June 1).

[2016-05-26 20:42] kristinashu commented on #168
Perfect, thanks!

[2016-05-30 17:38] kristinashu commented on #153
Move 'mozilla' and 'Advocacy' closer together by about 2 px.

These are currently separate SVGs but let me know if it would be easier to have them as one?

[2016-05-31 16:54] kristinashu commented on #168
@Melechuga @vanessarhinesmith just checking in to see if this is still on track, do you still think it will be ready tomorrow?

[2016-05-31 17:06] vanessarhinesmith commented on #168
Yes. We are still on track.
We're hacking the document tomorrow afternoon (PST/EST).
We should be good with time.
Thanks for checking in. Appreciated!

[2016-05-31 23:12] drewrwilson commented on #151
Merged in

[2016-05-31 23:12] #151 closed

[2016-06-02 16:53] Melechuga commented on #168
@KevZawacki Can you take a look at our copy draft for the website? (Also linked it in the OWF comms calendar): https://docs.google.com/document/d/1-Usw1YWS_GgbcC6rOC9el3wl8JIeJSDfNeHZDv8FeSc/edit

@kristinashu As soon as @KevZawacki gives his a-ok, we're good to go!

[2016-06-02 17:36] kristinashu commented on #168
Thanks @Melechuga! This is enough to get me started so no rush on this @KevZawacki

Do you also have bios and pics for the new fellows?

[2016-06-02 18:13] Melechuga commented on #168
@kristinashu Not yet; will let you know when we do. For the bios + pics, we're going to follow the same model as [last year](https://advocacy.mozilla.org/en-US/open-web-fellows/fellows) (~100 words), and want to follow the same design as Science. Does that work?

[2016-06-02 20:56] kristinashu commented on #168
Sounds good!

[2016-06-02 23:17] kristinashu commented on #155
Here's the Overview page https://redpen.io/ohdc7928c54c717e74 but I'm still working on the Fellows page.

@Melechuga @vanessarhinesmith let me know if this is what you had in mind.

[2016-06-02 23:17] kristinashu commented on #168
Here's the Overview page comp if you want to see the copy in context https://redpen.io/ohdc7928c54c717e74

[2016-06-03 00:28] Melechuga commented on #155
Thanks! I added some thoughts in the redpen. I think we're really looking to follow the esthetic (but not the color scheme) of the Science fellowship website too.

[2016-06-03 17:54] kristinashu commented on #155
Ok cool, I've updated the Overview page to look more like the science site https://redpen.io/ohdc7928c54c717e74

[2016-06-03 19:44] kristinashu commented on #155
Also just added the fellows page https://redpen.io/p/uqc9cc59bb9eec5986

[2016-06-03 20:13] kristinashu commented on #155
@sabrinang for design review please

[2016-06-03 20:28] kristinashu commented on #165
Few other templates for reference:
http://flukeout.github.io/curriculum-testing/intermediate-web-lit-two-updates/session01-buttons-and-alerts.html#overview
http://mozilla.github.io/learning-networks/clubs/afterschool-program/
http://mozillascience.github.io/working-open-workshop/

[2016-06-06 13:52] KevZawacki commented on #168
@Melechuga Just added minor edits to [this copy](https://docs.google.com/document/d/1-Usw1YWS_GgbcC6rOC9el3wl8JIeJSDfNeHZDv8FeSc/edit). If there's anything else in need of an edit, let me know.

Do we have a rough idea of when we'll publicly announce the 2016/17 fellows?

[2016-06-06 17:54] kristinashu commented on #155
Made a few minor copy updates and added a placeholder FAQ page https://redpen.io/p/uqc9cc59bb9eec5986

cc @gvn @alanmoo looks like OWF will have a very similar layout to the Science Fellows pages.

[2016-06-09 21:50] kristinashu commented on #155
I've updated the comps with the 2016 bio pics (both a purple overlay version and a full color version), 2016 bio copy, and FAQ copy: https://redpen.io/p/uqc9cc59bb9eec5986

We're still missing a few bios but should get them soon. Also just need a little intro copy for above the bios.

[2016-06-09 21:59] vanessarhinesmith commented on #155
@kristinashu this looks A-mazing! I  really like the full color version of the photos ... what do others think? I will have the last three bios completed (hopefully) tomorrow and will write up an intro copy as well.

[2016-06-09 22:00] kristinashu commented on #155
Excellent, thank you @vanessarhinesmith

[2016-06-09 23:47] kristinashu commented on #165
Here's the initial comp: https://redpen.io/kxaf01224594be1426

I'm suggesting we use purple as the template color and the logo in the top corner. Also added a simple pull quote treatment, since there are quite a few quotes.

I still need to add photos, graphs, and maps.

[2016-06-10 11:13] KevZawacki commented on #165
@kristinashu This looks great! 😄 Really like the pull quote style.

+ @Melechuga for additional feedback.

[2016-06-10 12:21] vanessarhinesmith commented on #165
We'll want to think about where we should link the report from on the revised website.

We have time on this - but good food for thought as we're working on both in parallel.

[2016-06-10 18:38] kristinashu commented on #156
Comps are very similar to Science Fellowships section https://science.mozilla.org/programs/fellowships

Redpen comps: https://redpen.io/p/uqc9cc59bb9eec5986

Illustrator file: https://drive.google.com/open?id=0B2irLVDJivhLU3FwMFBpQnZieTA

Copy (links to FAQ and Fellow bios in the doc): https://docs.google.com/a/mozilla.com/document/d/1-Usw1YWS_GgbcC6rOC9el3wl8JIeJSDfNeHZDv8FeSc/edit?usp=sharing
co

[2016-06-10 20:07] hannahkane commented on #165
Nice work, @kristinashu. Adding a note here about what we discussed earlier—I think we should explore some paginated options to help with readability. Adding images will help with that, too.

[2016-06-12 17:01] vanessarhinesmith commented on #168
@kristinashu I just uploaded the last three bio pictures [here](https://drive.google.com/drive/u/1/folders/0B32kLgMrp9LuV19aQU1mUEpWUVE)
@KevZawacki I just assed the last three bio summaries [here](https://docs.google.com/document/d/1pRdmICQTJSrY3eE2wcIa1BcSIeRdqmq-RFFn0XSOb3s/edit)

[2016-06-18 07:57] vanessarhinesmith commented on #155
We have the last remaining bios and pictures. W00T! I have updated the Google document: https://docs.google.com/document/d/1pRdmICQTJSrY3eE2wcIa1BcSIeRdqmq-RFFn0XSOb3s/edit and added the images to the Google Drive folder: https://drive.google.com/drive/u/1/folders/0B32kLgMrp9LuV19aQU1mUEpWUVE Many thanks, all, and go team!

[2016-06-20 16:36] kristinashu commented on #168
Thank you all for the content! I'm finishing up the design work in https://github.com/mozilla/advocacy.mozilla.org/issues/155

[2016-06-20 16:36] #168 closed

[2016-06-20 17:14] hannahkane commented on #156
cc @alanmoo and @gvn to discuss the best path forward, given the tight deadline

cc @simonwex

[2016-06-20 21:44] kristinashu commented on #155
Here's the updated the comp with the latest bio pics and copy: https://redpen.io/p/uqc9cc59bb9eec5986

I've also added a link to the organization's website below each fellow's name.

I think we're all set for implementation in https://github.com/mozilla/advocacy.mozilla.org/issues/156

[2016-06-21 14:35] Melechuga commented on #155
Thanks @kristinashu! So sorry for the late notice, but just realized I hadn't adequately updated the 2015 fellows' (alumni) bios. I've rewritten them [here](https://docs.google.com/a/mozilla.com/document/d/1NIBNibBH-sjImRyk5sF8zBQxcasHwJw_VnVG3rDTm4w/edit?usp=sharing). Thank you!

[2016-06-21 16:29] kristinashu commented on #155
No worries, I've update the comps and copy doc: https://redpen.io/p/uqc9cc59bb9eec5986 and https://docs.google.com/document/d/1pRdmICQTJSrY3eE2wcIa1BcSIeRdqmq-RFFn0XSOb3s/edit

[2016-06-21 16:29] #155 closed

[2016-06-21 19:36] kristinashu commented on #156
There were some copy updates so I've just updated the above links (copy doc, illustrator, redpen) ^

[2016-06-23 17:46] kristinashu opened #202 "Link to OWF report from advocacy.mozilla.org"
Based on @vanessarhinesmith comment in [design OWF Report](https://github.com/mozilla/advocacy.mozilla.org/issues/165) - we'll want to think about where we should link the report from on the [revised website](https://github.com/mozilla/advocacy.mozilla.org/issues/156).

[2016-06-23 18:13] kristinashu commented on #165
I've mocked up all the pages of the report: https://redpen.io/p/qa0d7b5c69cd064069

@KevZawacki @vanessarhinesmith @Melechuga let me know your thoughts. In the interest of time I didn't style every quote and link but there should be enough there to give you an idea of what it would look like.

[2016-06-24 13:36] KevZawacki commented on #165
@kristinashu This looks **awesome** Thank you!

I should have read your above comment more closely -- you can ignore my "pull quote" and "hyperlink" comments in the RedPen. Oops. 😭

cc @brettgaylor in case he'd like to take a peek.

Is it looking like the publication will be ready & published by July 18? That would be excellent -- we have a Fellows event slated for then.

[2016-06-24 14:28] vanessarhinesmith commented on #202
@KevZawacki Thoughts on where we should like the report from the updated Open Web Fellows site. Here is the site mock-up: https://redpen.io/ohdc7928c54c717e74

[2016-06-24 14:37] KevZawacki commented on #202
@vanessarhinesmith How about a sentence after the paragraph "Fellows are makers and doers..." but before the header "Expectations of Fellows"?

If could be: "Read the report-out on Year 1 of the Fellowship" w/ hyperlink.

[2016-06-24 15:02] vanessarhinesmith commented on #202
That totally works. What is the ETA on the report? With the site launching August 1st we might be able to have the report linked right from the get go.

[2016-06-24 16:54] kristinashu opened #203 "Dev updates to OWF one-year report template"
Based on design https://github.com/mozilla/advocacy.mozilla.org/issues/165 and [Redpen comps](https://redpen.io/p/qa0d7b5c69cd064069)

We will need to make some updates to the paginated version of the [template] (http://flukeout.github.io/curriculum-testing/intermediate-web-lit-two-updates/session01-buttons-and-alerts.html#overview)

Updates needed:
- [x] review design to make sure everything is p

[2016-06-24 16:57] kristinashu opened #204 "Build and add content to OWF one-year report"
Based on design https://github.com/mozilla/advocacy.mozilla.org/issues/165
- Redpen comps [here](https://redpen.io/p/qa0d7b5c69cd064069)
- Copy doc [here](https://docs.google.com/document/d/15ozoyElpjgfhCRA9t1PgqRx-KrDtL4k2yDfn9t8Rm5s/edit)
- Image assets [here](https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLbC1DQ1JCd0tUMU0&usp=sharing)

Template should be the paginated version

[2016-06-24 17:13] kristinashu commented on #165
@KevZawacki thanks!

@hannahkane does July 18 sound good to you? From what I understand, @flukeout will need to do some prep work #203 and then it will be on @KevZawacki to add the content #204. This way, Kevin will have full control over the content and be able to edit text, add links, quotes and add/remove images!

[2016-06-24 18:23] hannahkane commented on #165
Yes, I think July 18th is reasonable. Thanks to both of you!

[2016-06-24 18:23] hannahkane commented on #204
Yes, that's the plan!

[2016-06-24 21:01] alanmoo opened #206 "i18n doesn't work in Safari"
Safari needs a polyfill for window.Intl

[2016-06-27 15:47] #206 closed

[2016-06-27 16:27] flukeout commented on #165
Sounds good, I'll review the designs and chime in if I have any questions. Where will this live when it's published?

[2016-06-27 17:04] hannahkane commented on #165
Good question. What do you think about putting it here: https://github.com/mozilla/content?

[2016-06-27 17:51] KevZawacki commented on #165
ping @Melechuga & @vanessarhinesmith, who might have ideas on where it lives

[2016-06-27 17:51] KevZawacki commented on #165
c @Melechuga & @vanessarhinesmith, who might have ideas on where it lives

[2016-06-27 21:03] flukeout commented on #204
@kristinashu Can you please add the mozilla Advocacy logo to the asset folder as well? SVG format would be ideal, cheers.

[2016-06-29 10:58] vanessarhinesmith commented on #165
Great question. I honestly don't have a good response. Hannah's suggestion works for me. But let's see if Melissa has any preference or suggestions.

[2016-06-29 23:10] brettgaylor opened #209 "Localization strategy for videos"
Now that we are live on Pontoon, we're starting to see lots of locales translate the site and ask for it to be on production.

When we have videos on our site, it presents a bit of a problem: not all of our videos are localized either with audio (dubbing - as we did in spanish and german for encryption2), or with subtitles.

It would be great if we could somehow indicate to localizers that they ca

[2016-06-30 02:34] pmac opened #210 "Newsletter form not sending proper content-type"
Basket is receiving posts [from the site](https://advocacy.mozilla.org/en-US/encrypt/signup) with a `text/plain` content type and is thus doing a poor job of parsing the request. It should send `application/x-www-form-urlencoded` like it does in the [gaia basket client](https://github.com/mozilla-b2g/gaia/blob/v1.4/apps/communications/ftu/js/basket-client.js#L68-L69).

[2016-07-04 23:38] Melechuga commented on #165
Hi @hannahkane, I think your suggestion is great; we'd just want to link to it from both the adv.m.o page (one of the "tiles") and from the OWF page. Thanks!

[2016-07-06 20:47] #165 closed

[2016-07-06 20:50] kristinashu commented on #203
@flukeout I think you've done all of these ^

[2016-07-06 20:53] flukeout commented on #203
Correct! It's all ready and awaiting the final updates in the content repo. I'll be meeting with Kevin tomorrow to give him a walkthrough.

https://github.com/mozilla/content

[2016-07-06 20:53] #203 closed

[2016-07-06 20:57] kristinashu commented on #202
@Melechuga mentioned in https://github.com/mozilla/advocacy.mozilla.org/issues/165 we should also link to the report in one of the adv.m.o home page "tiles" as well.

I think it could replace the current Open Web Fellows tile. Any copy suggestions?

[2016-07-06 21:07] flukeout commented on #204
The template is ready to go in the [content repo](https://github.com/mozilla/content).

[2016-07-06 21:10] kristinashu commented on #204
ACLU logo is wack in FF 47
<img width="386" alt="screen shot 2016-07-06 at 2 09 11 pm" src="https://cloud.githubusercontent.com/assets/1068783/16634579/3fbddeac-4383-11e6-99b9-1314ff0ca69d.png">

[2016-07-06 23:53] flukeout commented on #204
Changed some styling that should address the issue above.

[2016-07-07 13:28] KevZawacki commented on #202
@Melechuga @kristinashu

We can likely keep the hed and copy the same, and change the button to "Read our Year 1 Report." Thoughts?

[2016-07-07 14:04] Melechuga commented on #202
@kristinashu @KevZawacki adding @vanessarhinesmith
Yea, I think we can change the button per Kevin's suggestion. When we announce the fellows, though, it'd be good for those to be separate tiles, so people can see both. Does that work?

On a separate note, we'd want to incorporate a link to the Year 1 report on the adv.m.o-OWF page. Thanks!

[2016-07-08 00:36] hannahkane opened #214 "Promote one-year report"
From @Melechuga in #165: We'd just want to link to it from both the adv.m.o page (one of the "tiles") and from the OWF page.

Do you want the link to replace one of the current four tiles on adv.m.o, or be a fifth tile?

Where do you think it would fit best on the OWF content (see "content only changes" versions on the [redpen](https://redpen.io/p/eb8f03d752fb5d93c5))?

[2016-07-08 14:04] KevZawacki commented on #204
Hey @kristinashu and @flukeout

I've just finished populating, and copy/pasted the new code into GitHub. You can see the result [here](http://mozilla.github.io/content/open-web-fellows-report/#introduction).

It was a pretty painless process -- thanks for the guidance!

OK to share with Vanessa and Melissa so they can QA, as well?

[2016-07-08 14:49] Melechuga commented on #214
@hannahkane I think it would fit well at the end of the "About the Program" section on the OWF landing page. If there's a way to make it quite visible -- more than just a link -- that would be great; maybe a button that separates the "About" section from the "Expectations" section? I leave it to @kristinashu for design advice!

[2016-07-08 17:17] kristinashu commented on #204
@KevZawacki nice, looks good to me!

I just realized the graphs are missing so we've added those to the Looking Ahead section, you might want to change the titles tho (Melisa added a comment in redpen https://redpen.io/re4316e83105945b7a).

cc @vanessarhinesmith @Melechuga please feel free to look over the report [here](http://mozilla.github.io/content/open-web-fellows-report/#introduction).

[2016-07-08 22:24] kristinashu commented on #214
Closing this ticket, it's a duplicate of https://github.com/mozilla/advocacy.mozilla.org/issues/202

[2016-07-08 22:24] #214 closed

[2016-07-12 02:26] pmac commented on #210
@alicoding any chance you can look at this? Looks like you were last to touch the code. Basket is handling it okay, but it would be much better if these submissions could follow the standard code path.

[2016-07-12 08:02] alicoding commented on #210
Will take a look at this ASAP.

[2016-07-12 16:37] kristinashu opened #216 "Implement link to OWF report from advocacy.mozilla.org"
Once the report is published we need to promote it on the advocacy site:

Based on https://github.com/mozilla/advocacy.mozilla.org/issues/202#issuecomment-231087143

Please add two links:

1) Home page (https://advocacy.mozilla.org/en-US) tile: Update the fellowship tile button from "Learn More" to "Read our Year 1 Report" (rest of copy stays the same)

2) Fellow Overview page (https://advocacy.mo

[2016-07-12 16:38] kristinashu commented on #202
Opened a new ticket to implement these updates https://github.com/mozilla/advocacy.mozilla.org/issues/216

[2016-07-12 16:38] #202 closed

[2016-07-12 18:43] flukeout commented on #204
Going to close as the report is now live. Further issues can be filed on the [content repo](github.com/mozilla/content) where the report is hosted.

[2016-07-12 18:43] #204 closed

[2016-07-12 22:31] stephendonner opened #217 "moz.final.3.emailpartner_1-en-US.webm and moz.final.3.emailpartner_1-en-US.mp4 files are 404s"
There are a couple missing static assets when loading https://advocacy.mozilla.org/en-US/encrypt/codemoji-b/1

https://d24kjznqej0s8a.cloudfront.net/2016/encryption_campaign/moz.final.3.emailpartner_1-en-US.mp4

https://d24kjznqej0s8a.cloudfront.net/2016/encryption_campaign/moz.final.3.emailpartner_1-en-US.webm

[2016-07-12 22:34] stephendonner commented on #217
Actually, it looks like they have a content-type of "html" and the correct asset loads after?

<img width="1792" alt="screen shot 2016-07-12 at 3 34 07 pm" src="https://cloud.githubusercontent.com/assets/387249/16785976/18eabd5a-4846-11e6-8e60-33cc4ee801cd.png">

[2016-07-13 15:20] alanmoo commented on #216
I added this to PR #211, since your description fit that version. Check out https://peaceful-mount-rainier-35186.herokuapp.com/en-US/open-web-fellows/overview to see it.

[2016-07-13 16:01] kristinashu commented on #216
Cool, just need to update the home page button copy to "Read our Year 1 Report"

On the overview page, could you please add a line break before the new link, I think it will help it stand out a little more. Thanks!

[2016-07-13 16:04] alanmoo commented on #216
Ah, missed the label instruction. Fix incoming. You want an empty line before the link?

[2016-07-15 20:14] ScottDowne commented on #217
Kinda intended. We have some localized videos. So it first tries to find a localized version for whatever locale you're in, and if that fails, it uses the default.

In you're case it's trying to load en-US because that's the locale you're in, which isn't there because it's the same as the default.

To see this, go to https://advocacy.mozilla.org/de/encrypt/codemoji/2 and you'll see a case where we

[2016-07-15 20:14] #217 closed

[2016-07-27 19:51] ScottDowne commented on #210
I had to revert this. Our submissions started to fail.

Reopening. I'll add some more info about how it was failing in a minute.

[2016-07-27 19:55] ScottDowne commented on #210
During form submission, it would fail with a "InvalidStateError: An attempt was made to use an object that is not, or is no longer, usable" in the console, which at that point, I tracked down the patch that caused it, then reverted it.

Need to fix it again, but figure out why the form doesn't submit.

[2016-07-27 20:42] pmac commented on #210
Very strange. I'm not sure why adding a content type would cause any problems. All I can really do is link to a submission form that is working well and hopefully we can figure it out from there. The [subscription JS on the viewsourceconf.org site](https://github.com/mdn/viewsourceconf/blob/master/source/js/newsletter.js#L73-L136) seems to be working well. It submits to [an endpoint on www.mozilla

[2016-07-27 20:46] ScottDowne commented on #210
I am a bit curious what the repercussions are for reverting this. In other words, what's the current issue with `text/plain`? and what kind of urgency is on this again now that it's backed out?

[2016-07-28 01:48] pmac commented on #210
Basket relies on Django's request parsing to get the data you send. When the content type is wrong that parsing doesn't happen. Normally we'd have rejected all of these, but we had to hack around it to make FxOS work as it shipped initially with the same problem. We'd very much like to remove that hack as it's no longer needed for FxOS and is not nearly as robust as requests that are handled the c

[2016-07-28 01:54] pmac commented on #210
One thing I noticed looking at the code here and that in viewsourceconf is that the [headers were set on the xhr object after the call to `open()`](https://github.com/mdn/viewsourceconf/blob/master/source/js/newsletter.js#L127-L129). Perhaps that's significant?

Also maybe @stephaniehobson can help as I think she ran into some similar issues submitting directly to basket. This is part of the reaso

[2016-07-28 14:52] pmac commented on #210
For example, I've gotten 3 new request parse errors recently in basket with the referrer `https://advocacy.mozilla.org/en-US/encrypt/codemoji/2`.

The raw request params were:

[code]

Clearly someone doing pen-testing. I believe this would have been handled appropriately (mostly ignored I think) had it been sent with the appropriate content-type header.

[2016-07-28 15:09] ScottDowne commented on #210
I tried a few random submissions to try test a few forms to see if I can get it working with the fixed header. What you're probably seeing is me just ensuring it still works without the header.

Still not able to get it working yet, but I keep getting pulled into other tasks, so it's slow going.

[2016-07-28 15:18] ScottDowne commented on #210
This seems to do the trick: https://github.com/mozilla/advocacy.mozilla.org/pull/223

I can confirm it works without that added line, with, but as soon as I move it above open, it fails, making your suspicion true. :)

[2016-07-28 15:20] pmac commented on #210
Oh interesting. I was sure that wouldn't turn out to be the deal... Nice work!

[2016-07-28 15:21] ScottDowne commented on #210
I'll merge, get it on production, and ping you here, just in case you want to try a submission and see it go through correctly.

I can only see that the UI pops up with a submission complete page, and only assume it's working on the other end :)

[2016-07-28 15:24] ScottDowne commented on #210
Should work here now: https://advocacy-mozilla-org-prod.herokuapp.com/en-US/encrypt/codemoji/1

[2016-08-01 13:00] #216 closed

[2016-08-01 13:05] alanmoo commented on #156
This has been pushed to production- there might be a little bit of a delay though, as the site is behind a CDN.

[2016-08-01 13:28] #156 closed

[2016-08-01 13:49] vanessarhinesmith commented on #156
W00T! Thank you all. You rock!!

[2016-08-02 14:43] ScottDowne opened #224 "Duplicate content in a l10n string"
https://github.com/mozilla/advocacy.mozilla.org/blob/984f4b4f307f142b46e7555cca880547349cc0fc/locales/en-US/encrypt.properties#L27-L28

This is most likely just an oversight.

[2016-08-02 17:04] ScottDowne commented on #224
Fixed in https://github.com/mozilla/advocacy.mozilla.org/commit/c247b21c70091bc0943f61688ff77c579dfc6b13

[2016-08-02 17:04] #224 closed

[2016-08-02 18:59] #134 closed

[2016-08-02 18:59] #135 closed

[2016-08-02 19:13] mathjazz commented on #224
@ScottDowne Thanks for the quick fix.

Please note that our tools treat moved strings as untranslated. To avoid that, you need to move them in locale files, too.

[2016-08-02 19:28] ScottDowne commented on #224
@mathjazz Not sure I fully understand. Just to clarify:

I should move them in all localized string files, not just en-US?

Also, is there anything actionable you're asking me to do? Or is this for next time, and you handled it this time?

[2016-08-02 19:38] mathjazz commented on #224
Yes.

If you could move strings removed by @mozilla-pontoon after you landed this patch to the right place, localizers would appreciate it, otherwise they have to retranslate the strings. Please note that German (de) is already done and doesn't need any further action.

[2016-08-02 21:30] ScottDowne commented on #224
Done, it's on staging.

Let me know if I missed something.

I noticed de and hu beat me to it.

[2016-08-03 03:36] mathjazz commented on #224
Thanks for taking care of this, @ScottDowne!

A quick question - where are the strings in the new file `fellows.properties` located on the actual site? I can bind them to one or more of the 14 subpages we have listed for in-context localization, or I can simply display it as a separate resource (like homepage or snippet):
https://pontoon.mozilla.org/sl/mozilla-advocacy/

Subpage URLs:
https://advo

[2016-08-03 14:00] ScottDowne commented on #224
Right now, the fellows stuff is just starting to take a localized focus, but so far if we add new text, we add it in a l10n savvy way, but old text still needs and update.

The pages for fellows are:

https://advocacy.mozilla.org/en-US/open-web-fellows/fellows2016
https://advocacy.mozilla.org/en-US/open-web-fellows/fellows2015
https://advocacy.mozilla.org/en-US/open-web-fellows/overview
https://ad

[2016-08-03 18:30] mathjazz commented on #224
OK, once more string are added to the fellows.properties files, feel free to ping me and I'll add these pages (with staging URLs) and bind them to the file. For now I'll just keep the file without in-context localization.

[2016-08-12 18:54] ScottDowne commented on #209
Migrated to https://github.com/MozillaFoundation/Advocacy/issues/212

Closing.

[2016-08-12 18:54] #209 closed

[2016-09-29 15:45] MikkCZ opened #237 "Merriweather font does not render diacritics correctly in Safari"
Reported by @MekliCZ today and confirmed by me, Merriweather font does not render Czech diacritics correctly in Safari (on Mac). Specifically all characters with ˇ, like č, ě, ž, etc. fallback to serif. What I noticed, the font is Google hosted and in Firefox, there are two .woff2 downloaded for be. In Safari only one file. Maybe it is related to https://github.com/mozilla/advocacy.mozilla.org/pul

[2016-09-29 15:50] MikkCZ commented on #237
Sorry, wrong place. Moved to https://bugzilla.mozilla.org/show_bug.cgi?id=1306350

[2016-09-29 15:50] #237 closed

[2016-10-20 21:15] floatingatoll opened #263 "improve HTTP Observatory score for advocacy (petitions)"
We did our best on improving petitions.mozilla.org at https://bugzilla.mozilla.org/show_bug.cgi?id=1310006 but the redirect to advocacy means that we're capped at B- for WebOps-side things.

[code]

[2016-10-20 21:15] floatingatoll commented on #263
I advise prioritizing ```strict-transport-security``` and ```contribute``` before tackling the heavier SRI/CSP stuff.

[2016-12-19 14:16] vanessarhinesmith opened #265 "Content updates to Open Web Fellows"
(attn: @alanmoo)

Launching 2017 call for new host organizations so a few small content updates to:

https://advocacy.mozilla.org/en-US/open-web-fellows/fellows2016

All updates are highlighted in yellow in this Google document:

https://docs.google.com/a/mozilla.com/document/d/1d3tsbFEAIxOWKtXc16gleEuv8qhzzqSBVgdlfo5x54U/edit?usp=sharing

Thank you!! 👯

[2016-12-19 14:21] alanmoo commented on #265
Should this go live as soon as it's ready?

[2016-12-19 14:26] vanessarhinesmith commented on #265
Yes please 👍

[2016-12-19 15:33] #265 closed

[2017-04-06 17:25] TheoChevalier opened #269 "Switch to Open Sans"
Follow up of https://bugzilla.mozilla.org/show_bug.cgi?id=1249041
Let’s try what we did on changecopyright.org as we’re adding more locales

[2017-04-11 01:03] amitsin6h commented on #25
How can i fix this bug am new here

[2017-04-21 15:13] vanessarhinesmith opened #270 "Update to Open Web Fellows pages (content update only)"
A few (teeny tiny) web page updates:

- Remove "We are now accepting applications for 2017 host organizations" from [2016 Fellows page](https://advocacy.mozilla.org/en-US/open-web-fellows/fellows2016); at top of the page
- Remove "We are now accepting applications for 2017 host organizations" from [2015 Fellows page](https://advocacy.mozilla.org/en-US/open-web-fellows/fellows2015); at top of the p

[2017-04-21 15:53] #270 closed

[2017-05-08 22:15] alanmoo opened #296 "Net Neutrality input form is too short in Safari"
<img width="487" alt="screenshot 2017-05-08 18 14 57" src="https://cloud.githubusercontent.com/assets/1682681/25827647/436730d4-341a-11e7-91bb-a24cc116e1b6.png">

Swapping `height: 45px` with `margin-top: 0` seems to fix it.

[2017-05-08 22:15] #143 closed

[2017-05-09 14:46] ScottDowne commented on #296
Thanks for catching this. Me and Becca had a pretty quick change to reduce the overall height of the form, so we reduced the input height, and didn't notice this.

Change in #297 seems to do the job.

[2017-05-09 14:46] #296 closed

[2017-06-19 18:34] brettgaylor opened #356 "Remove auto moz://a encoding on 2FA page"
We don't want "mozilla" to be rendered as "moz://a" on the 2FA page as shown below
![image](https://user-images.githubusercontent.com/345974/27300050-3e3ad662-54e3-11e7-8c12-f051f02e9f40.png)

can you release the hackfix?

[2017-07-06 20:53] vojtechmzl opened #362 "Popup form on /safety is not passing along URL to Salesforce"
Hey @ScottDowne, I just noticed when signing up for emails using the popup on /safety that the source URL doesn't get passed on to Basket, like it does with our other forms, which leads to empty Signup Source URL fields in Salesforce. Would you please be able to help troubleshoot? Thanks.

[2017-07-12 17:11] cadecairos opened #365 "Update Node.js"
Update the minimum required version of Node.js in package.json

[2017-08-02 23:57] stephaniemcv opened #373 "askjoin@mozilla.org and joinmozilla@mozilla.org Storage Full notices"
I'm getting a bunch of these for askjoin@mozilla.org and joinmozilla@mozilla.org in Desk.com. The email headers aren't flagging as spam...but it doesn't look right.

Can you investigate? I know these are older mail lists and not groups, so on the off chance it's legit, I don't have access. I assigned a bunch of them to you in Desk.com.

[2017-08-07 22:42] hoosteeno opened #374 "Add link to Firefox password manager from safety article about password managers"
@HPaulJohnson and I spoke about this, and he encouraged me to ping @brettgaylor.

We'd like to link from the [password manager page on the safety site](https://advocacy.mozilla.org/en-US/safety/password-manager) to the [password manager page on the Firefox marketing site](https://www.mozilla.org/firefox/features/password-manager/).

Paul asked me to submit some copy. It's attached as an image, and

[2017-09-05 16:11] auremoser opened #381 "Update on Open Web Fellows 2017 pages"
Hello Advocacy website team!

### Context
We'll be announcing our fellows for 2017 this week. I'm happy to update the advocacy site accordingly but am not sure about the appropriate procedure, is it the same Gitflow workflow as the [Science Site](https://github.com/mozilla/science.mozilla.org/#git-flow) or is there a better PR workflow I should follow?

### Content to update
Here are the updates,

[2017-09-05 16:37] brettgaylor commented on #381
Yeah I think it would be nice to add media fellows, since there won't be any other page to host/announce.

Though wondering if we shouldn't have this page on network site? (ducks boo thrown at him)

Whatever we do I think it should be a page that sticks around for that cohort - folks will want to be able to link to it down the line.

[2017-09-05 16:56] auremoser commented on #381
Yep totally @brettgaylor , I've added an issue for that [here](https://github.com/mozilla/network/issues/715).

For now we should probably update all pages, as some folks will find them and wonder why they're not updated.

[2017-09-05 16:57] brettgaylor commented on #381
🤔😀👏

[2017-09-07 14:05] alanmoo commented on #381
Looks like if you open a PR against master on this repo it'll be the right approach.

[2017-09-13 20:40] auremoser commented on #381
Closing this issue as it's up!

[2017-09-13 20:40] #381 closed

[2017-09-28 20:52] cadecairos commented on #373
@stephaniemcv is this still a problem?

[2017-09-28 22:57] stephaniemcv commented on #373
I'm still seeing notices, but at this point I think most of them are phishing attempts. Maybe it's a simple task for the new person to look into? ;-)

![image](https://user-images.githubusercontent.com/11812272/30993854-19dcc994-a46e-11e7-9e71-c384d07a9e8a.png)

[2017-10-31 17:47] #374 closed

[2017-11-20 20:50] flukeout opened #454 "Email Signup pop-up doesn't show up when scrolling page down in Chrome on Privacy Not Included site."
When you scroll down on a product page, [like this one](https://advocacy.mozilla.org/en-US/privacynotincluded/category/toys/edwintheduck), a pop-up shows up asking you to subscribe to the Email list...

![image](https://user-images.githubusercontent.com/25212/33040895-5affbc0e-cdf1-11e7-8d68-75a3f4db43fb.png)

It doesn't show up when browsing the site with Chrome (v62) on a Mac. Works for me in Fi

[2017-11-28 18:33] Pomax opened #464 "Make codebase filesystem agnostic"
There's an odd bit of code that works because it assumes a unix file system with `/` path delimiters in the string representation. This currently prevents the code from being worked on by users of Windows (and possible other lesser-known operating systems), so making sure we fix that up will be a worthwhile effort.

[2017-11-29 18:30] alanmoo opened #465 "Update net-neutrality route to have call tool"
As per @shaghdoosti, we're going to copy the changecopyright.org site/call tool into the net-neutrality site. This will effectively be a straight migration and copy change.

One question for @shaghdoosti and @WillatMozFdn is about the donation modal- The ask for EoY was to put a modal on net-neutrality to ask people to donate. Should that still be there, triggered by scroll? Or should we have that

[2017-11-29 18:54] shaghdoosti commented on #465
my instinct is having the popup on the script page but I'll defer to @WillatMozFdn on that decision.

[2017-11-29 19:53] WillatMozFdn commented on #465
I really like Alan's second option, to wit, "... have that appear after someone uses the tool to call?"  Seems like if we put it on the script page, it distracts them right when they were about to do what we want them to do.  And if we put it onto the main page, we interrupt them with a fundraising ask when the email had a call ask (that dissonance will really confuse people.)  So let's do it afte

[2017-11-29 19:56] alanmoo commented on #465
We can put some custom text in that instance.

[2017-11-29 20:14] shaghdoosti commented on #465
Perfect.

[2017-11-29 20:57] WillatMozFdn commented on #465
Not sure exactly how much space we'll have there, but, try this on for size?
"THANK YOU so much for speaking out to save Net Neutrality.  As a non-profit organization, Mozilla counts on donations from generous people like you to fund our advocacy work to preserve the Internet as a global public resource, open and accessible to all. **Could you please chip in a small donation today?**"

[2017-11-29 21:13] WillatMozFdn commented on #465
slight edit:
"THANK YOU so much for speaking out to save Net Neutrality. As a non-profit organization, Mozilla counts on donations from generous people like you to fund our advocacy work and preserve the Internet as a global public resource, open and accessible to all. **Could you please chip in a small donation today?**"

[2017-12-01 17:52] alanmoo opened #466 "Digital plan for net neutrality"
December 4:
Launch call tool - advocacy.mozilla.org/net-neutrality as a reskin of changecopyright.org. There will be no modal.

December 14:
If the vote happens, we want to swap out the content of `/net-neutrality` to be the signup form (with some changed text, TBD. The donate modal will appear after someone submits the form. The call tool/about the situation page will still be present, but at dif

[2017-12-04 18:31] ScottDowne opened #478 "Net neutrality footer may be leaking CSS"
This https://github.com/mozilla/advocacy.mozilla.org/pull/474 found a fixed an issue where our modified footer was leaking CSS.

I wonder if there are other leaks in the footer, or otherwise might be more in the future.

We should wrap the footer CSS in "less/components/net-neutrality/footer.less" with `.net-neutrality-html` to ensure it doesn't happen again.

[2017-12-04 18:53] alanmoo opened #479 "Add footer in Net Neutrality call page"
After step 3 add an asterisk, and then put the following text at the bottom of the instructions

"*Because of split zipcodes there's a chance you'll be put through to a different representative. No worries, have a conversation with the office and ask them to transfer you. Reaching more people on this issue helps!"

[2017-12-04 19:49] #479 closed

[2017-12-10 05:01] jessuircleydson commented on #478
#482

[2017-12-10 05:27] jessuircleydson commented on #454
@flukeout another one appear?
To me **Chrome (v63) on a Mac**
![captura de tela 2017-12-10 as 02 26 03](https://user-images.githubusercontent.com/3290934/33802243-9081e89c-dd51-11e7-9e61-d20c16db330f.png)

[2017-12-19 16:11] ScottDowne commented on #356
Just doing some cleanup of assigned issues and looks like this one got fixed.

https://advocacy.mozilla.org/en-US/safety/2fa

Closing.

[2017-12-19 16:11] #356 closed

[2018-01-10 18:58] ranjithrajv opened #492 "Add 'Aadhaar' campaign to advocacy.mozilla.org"
Aadhaar is a dystopian project currently being tested in Aadhar and expected to be extended to other countries, which is aimed for intensive mass surveillance of citizens.

This is turning into a dystopia where access to [Aadhaar details of 1 billion Indians is available for Rs.500 (less than $10)](http://www.tribuneindia.com/news/nation/rs-500-10-minutes-and-you-have-access-to-billion-aadhaar-det

[2018-01-10 22:00] shashikanth171 commented on #492
I tried adding a new route using net-neutrality as example.

I have just included call-page.js and index.js in pages/aadhaar.
In components only footer, header, nav, index.

Same in the less folder.

I am unable to bring stying in place.

Is there a documentation on how to add a page?

[2018-01-11 19:25] auremoser opened #493 "[January 16, 2018] Implement updates to OWF site, open applications"
**Deadline January 16, 2017**

cc
@kristinashu
@ScottDowne

**To do:**

* top banner: add Apply Now button on all fellowship pages, update button link and copy for Host Orgs
* bottom banner: update copy and button link

**Banner copy for Overview and Info page:**
Title: Host-Org Application Open
Copy: We are now soliciting applications for our 2018-2019 cohort of Host Organizations. We match these

[2018-01-12 17:52] auremoser commented on #493
It should be for Host Orgs, for now, we'll add one for fellows too. Looks like [the stuff Mavis disabled](https://github.com/mozilla/advocacy.mozilla.org/pull/122/files) was for fellows, [the changes you made were for hosts](https://github.com/mozilla/advocacy.mozilla.org/commit/643933bec3f3edfe8940a4248a57a51b5105a75e).

I don't really mind how it is implemented as I think the codebase has change

[2018-01-16 14:21] #493 closed

[2018-01-18 19:27] #464 closed

[2018-01-18 22:17] alanmoo opened #495 "Update theming of *PNI to remove holiday images and content"
Assets: https://drive.google.com/drive/folders/1zfwGqBfS6n3y-z6UTQSvSuQ3f5GWycNU?usp=sharing
RedPen: https://redpen.io/p/ajf2da463e476f3864

[2018-01-18 22:18] alanmoo opened #496 "Add Smart TV content to *PNI"
Smart TV image: https://drive.google.com/drive/u/1/folders/1zfwGqBfS6n3y-z6UTQSvSuQ3f5GWycNU

[2018-01-18 22:18] alanmoo opened #497 "Update navigation of *PNI"
Redpen: https://redpen.io/p/ajf2da463e476f3864

[2018-01-18 22:18] alanmoo opened #498 "Add A/B testing for *PNI"
Pending @beccaklam's conversation with @vojtechmzl

[2018-01-18 22:24] alanmoo commented on #495
@beccaklam Where are the image assets for the latest updates? Do you have Sketch files too?

[2018-01-18 22:24] alanmoo commented on #496
@caltrider Is this content you're providing?

[2018-01-18 22:54] gvn commented on #495
@beccaklam Which option should I build?

[2018-01-18 22:54] caltrider commented on #496
@alanmoo Yes. Janice was working to have reviews finalized by tomorrow. Hopefully we'll have that content for the guide soon and it will be easy to add.

[2018-01-18 23:38] alanmoo commented on #496
Great. Please comment back here when you've got them and reassign the issue to @gvn.

[2018-01-19 15:06] beccaklam commented on #495
@alanmoo I do, but they're not that organized ... do you need the file organized in a certain way?

[2018-01-19 16:03] beccaklam commented on #495
@gvn I would build this version first:
![landing page](https://user-images.githubusercontent.com/20977376/35159349-f25a0600-fd07-11e7-8d23-2e968653001a.jpg)
and here is the sketch file with all the applicable mock ups we talked about yesterday:
https://drive.google.com/open?id=1PpaeOhERQKBwFDCVqX-DSqWbxcojYjSu
CC: @alanmoo @HPaulJohnson

[2018-01-19 19:37] alanmoo opened #499 "🔥Update call tool text"
Looks like 2 blocks of text change.
https://docs.google.com/document/d/1Hy52PCSqOBT1LnQBQBUnbP3tLkcjaMpn4FqorVpBcbw/edit

[2018-01-19 20:32] gvn commented on #499
Should be live on prod

[2018-01-19 20:34] #499 closed

[2018-01-22 22:58] natalieworth commented on #495
@gvn @alanmoo @beccaklam Added the last 'Smart TV' image in the google folder: https://drive.google.com/drive/u/1/folders/1zfwGqBfS6n3y-z6UTQSvSuQ3f5GWycNU

[2018-01-22 23:11] gvn commented on #495
Do we have actual copy for the Smart TV section?

[2018-01-22 23:13] natalieworth commented on #495
cc @caltrider do you know if we have copy yet? ^

[2018-01-22 23:24] caltrider commented on #495
@natalieworth @gvn It's almost ready. Janice was going to have her reviews done on Friday. I pinged her today to see if she was done because I don't see them in the doc yet. Here's [the doc](https://docs.google.com/spreadsheets/d/1szZeBKAib8n3QOKZ6Th5ao3XrJr8CDdD9VDL6t6Tgyo/edit#gid=1540325979) where they will be: tab 1 "streaming tv devices" has the blurbs and product links and prices and links t

[2018-01-22 23:26] natalieworth commented on #495
Also just nothing from @caltrider that the title of the category should be “Streaming TV” rather than smart TV (we’re not actually reviewing any tvs, just the devices that let you stream things to them.

[2018-01-23 00:02] natalieworth commented on #496
We're still waiting on the content to be finalized for the Streaming Section, but here are the photos for the products: https://drive.google.com/drive/u/1/folders/1ln2Trsfsx_Z17l6dQx_M0CKf7IS-ICdr
cc @gvn @alanmoo @caltrider @beccaklam

[2018-01-23 00:11] natalieworth commented on #496
Also just noting from @caltrider that the title of the category should be “Streaming TV” rather than smart TV (we’re not actually reviewing any tvs, just the devices that let you stream things to them.

[2018-01-23 18:19] gvn commented on #495
FYI: There's another ticket for Smart TV section: #496 so I'm going to leave it out of this PR...

[2018-01-24 18:29] caltrider commented on #495
Can we change the word "gift" on the landing page subhead to "things" to help de-holidayify the page? @gvn @beccaklam @alanmoo

[2018-01-25 19:48] #495 closed

[2018-01-25 22:17] natalieworth commented on #497
@gvn @alanmoo This slipped off my radar, but we'll have to update the image that gets shared on the PNI site. @beccaklam and I want to use this one: https://drive.google.com/drive/u/1/folders/13qllPp4vO6VikJEkC5dUS-wb_ltxhLw3

[2018-01-25 22:34] gvn commented on #497
@natalieworth since that's unrelated to this ticket (this is just for the nav update) can you file a separate ticket to change the image?

[2018-01-25 22:35] natalieworth commented on #497
yeah defs

[2018-01-25 22:37] natalieworth opened #502 "Update PNI share image"
We'll have to update the image that gets shared on the PNI site. @beccaklam and I want to use this one: https://drive.google.com/drive/u/1/folders/13qllPp4vO6VikJEkC5dUS-wb_ltxhLw3
cc @gvn @alanmoo

[2018-01-25 22:38] #502 closed

[2018-01-25 22:39] natalieworth opened #503 "Update PNI share image"
We'll have to update the image that gets shared on the PNI site. @beccaklam and I want to use this one: https://drive.google.com/drive/u/1/folders/13qllPp4vO6VikJEkC5dUS-wb_ltxhLw3
cc @gvn @alanmoo

[2018-01-31 16:25] beccaklam opened #505 "Fix bug where user can't close pop up because of sticky header"
- [ ] Found a bug on mobile where when the pop up comes because of the sticky header the user can't close the pop up and essentially is stuck on the page. This should probably get fixed:
<img width="375" alt="screen shot 2018-01-31 at 11 01 13 am" src="https://user-images.githubusercontent.com/20977376/35632950-1667fa26-0676-11e8-9512-d2d089e3d13a.png">

[2018-01-31 16:39] alanmoo commented on #505
STR:

1. On `pni-refresh` branch, navigate to a product page on mobile (http://localhost:8000/privacynotincluded/category/toys/edwintheduck
2. Start scrolling.

(I think this is tied to sessionStorage, so you may have to open in a private tab)

[2018-01-31 16:52] beccaklam opened #506 "Design QA for PNI v2"
Some leftover QA for the Privacy Not Included Site V2:

- [ ] The menu on product pages is still in Playfair. Again, probably some old janky styling where it's getting over ridden somewhere.
![screen shot 2018-01-31 at 10 30 16 am](https://user-images.githubusercontent.com/20977376/35632843-ccd6856c-0675-11e8-9703-9989cf252107.png)

- [ ] Checked mobile for the related products and they're still s

[2018-01-31 21:31] Pomax commented on #505
Ah, this only occurs when the browser window is smaller than the popup notice; I've adjusted the z-index for the modal so that it sits on top of all page content, even on small screens, which should resolve this.

[2018-01-31 22:16] alanmoo commented on #505
Landed in master, thanks @Pomax

[2018-01-31 22:16] #505 closed

[2018-02-01 17:56] #497 closed

[2018-02-02 00:22] gvn commented on #503
FYI: `og:description` is still "This holiday season, learn which gadgets come with privacy included, using Mozilla’s buyer’s guide for connected gifts."

Do we want to change the copy too?

[2018-02-02 15:21] beccaklam commented on #503
@gvn Oh yes good catch. Can you please advise @caltrider ?

[2018-02-02 17:11] #506 closed

[2018-02-05 20:24] #503 closed

[2018-02-05 20:31] alanmoo opened #510 "Remove holiday references from buyer's guide"
In this folder: https://github.com/mozilla/advocacy.mozilla.org/tree/master/buyers-guide-locales/en-US
These files all have copy that needs to be updated, base on a search for "this holiday season" (probably with new keys for the purposes of translation, @TheoChevalier, please confirm).

Home.properties
Products.properties
Share.properties
Why-we-made-this.properties

Edit from below: New copy at

[2018-02-05 21:37] TheoChevalier commented on #510
@alanmoo Yes, new keys please. It may not be possible to do for strings in products.properties though, as I think keys are read dynamically. So for this one I will manually remove the Spanish translation once the copy is updated.

(Passing by note, mentions in edits don’t trigger notifications 😉 )

[2018-02-05 22:09] caltrider commented on #510
@alanmoo @TheoChevalier What's the best way to get you all the updated copy?  Could it be as simple as replace the word "gift" with the word "stuff" and remove all "this holiday season" strings?

Also, Alan, I think I submitted a ticket a couple weeks back to change the word "gift" to "stuff" on the landing page. Do you see that ticket?

[2018-02-05 23:32] alanmoo commented on #510
@TheoChevalier I knew that was going to happen, but I also know you're pretty good at spotting new tickets :) (Also I got distracted 😁 )

@caltrider I didn't see that ticket, but it's the same files, so this can cover that work too. If changing words/removing holiday references is what you want, great, I can assign this ticket. Just confirm that is the solution we should go with.

[2018-02-07 11:11] tlasadea commented on #510
Hey @caltrider @alanmoo @TheoChevalier I did this, it's [here](https://docs.google.com/document/d/1_ajXvK2HfB09pzSjHmDinCaEDNvtdqPGsccBMe2L2l0/edit). Hopefully this is what you were after  Alan!

[2018-02-07 13:49] alanmoo commented on #510
Great, thanks!

[2018-02-07 18:02] ScottDowne commented on #510
@TheoChevalier looks like there is only one string change proposal in products.properties so I think I can handle this somehow and still keep the old one.

[2018-02-07 18:32] ScottDowne commented on #510
@TheoChevalier @alanmoo I think this should do the trick https://github.com/mozilla/advocacy.mozilla.org/pull/511

[2018-02-07 18:44] caltrider commented on #510
Thank you @tlasadea ! And @TheoChevalier and @alanmoo and @ScottDowne .  Thanks everyone for doing this.

[2018-02-07 23:24] #510 closed

[2018-02-23 02:14] auremoser opened #514 "Remove cfp from open web fellowship pages"
cc
@alanmoo

Reference issue #493

I'd like to remove or comment out the "apply to host" button on the [Overview page](https://advocacy.mozilla.org/en-US/open-web-fellows/overview), as applications closed on February 16th.

We'll be migrating to the foundation.mozilla.org for our next CFP (hopefully!), so I would like to remove these, but possibly keep the code idle in case we need to feature a fu

[2018-02-23 14:35] alanmoo commented on #496
Is this still going to be happening?

[2018-02-23 16:12] caltrider commented on #496
@alanmoo I hope so. I'm working with Janice and Bram on the Roku privacy policy stuff and hope she'll be able to finish this as part of that roll out.

[2018-02-26 17:32] ScottDowne commented on #514
There are apply buttons at the bottom of the year pages too:
https://advocacy.mozilla.org/en-US/open-web-fellows/fellows2017
https://advocacy.mozilla.org/en-US/open-web-fellows/fellows2016
https://advocacy.mozilla.org/en-US/open-web-fellows/fellows2015

All have them. We want those gone too yeah?

[2018-02-26 18:23] #514 closed

[2018-02-26 18:24] gvn commented on #514
Removed 'em all!

[2018-03-06 20:52] natalieworth opened #516 "Update the breadcrumbs active section color"
The active breadcrumb is currently 'red', but needs to be updated to #03a8a8.

[2018-03-06 20:53] natalieworth commented on #516
Original:
<img width="496" alt="screen shot 2018-03-06 at 10 44 23 am" src="https://user-images.githubusercontent.com/14876567/37057780-53c869fa-213d-11e8-9084-035188be4658.png">

Changes:
<img width="496" alt="screen shot 2018-03-06 at 10 57 26 am" src="https://user-images.githubusercontent.com/14876567/37057798-63bfe612-213d-11e8-882b-c1c74afe7153.png">

[2018-03-06 20:58] natalieworth opened #517 "Change button colors of email sign-up and 'copy link'"
The button colors of the donate pop-up are currently red, and the copy link is a subtle grey.

We need to change these to #03a8a8.

- [ ] Change donate pop-up button to #03a8a8
- [ ] Change 'copy link' to #03a8a8
- [ ] Remove the 'copy link' opacity
- [ ] Add hover state color #007575 to donate and copy link buttons

[2018-03-06 20:58] natalieworth commented on #517
Changes:
<img width="370" alt="screen shot 2018-03-06 at 10 57 18 am" src="https://user-images.githubusercontent.com/14876567/37058062-217afc82-213e-11e8-8a3e-63d5f529b80d.png">
<img width="1360" alt="screen shot 2018-03-06 at 10 59 45 am" src="https://user-images.githubusercontent.com/14876567/37058063-21925bc0-213e-11e8-9bd0-3751309e3c3a.png">

[2018-03-06 21:05] natalieworth opened #518 "Update review page green type to blue"
Type within the table is currently green, but update to #03a8a8.

[2018-03-06 21:06] natalieworth commented on #518
Changes:
<img width="798" alt="screen shot 2018-03-06 at 10 58 24 am" src="https://user-images.githubusercontent.com/14876567/37058372-2f298834-213f-11e8-9804-65669f5b4f7c.png">

[2018-03-06 21:11] natalieworth opened #519 "Add hover state to social icons"
Social icons are currently just black. If possible, could we add a hover state of 50% opacity to them.

[2018-03-06 21:11] natalieworth commented on #519
Original icons:
<img width="162" alt="screen shot 2018-03-06 at 11 03 37 am" src="https://user-images.githubusercontent.com/14876567/37058598-e6205e1e-213f-11e8-9eb9-6603aabddd5d.png">

[2018-03-06 21:13] natalieworth opened #520 "Update footer to Open Sans and make footer background #000000"
The footers seem to be displaying the lower Mozilla explanatory text in Fira. We need to update so it is all open sans. It also looks like they are slightly different on the landing page, category page, and then product page.

- [ ] Update landing page footer (just the "Mozilla is a global non-profit...") to Open Sans
- [ ] Update categories page footer text to Open Sans, change background to blac

[2018-03-06 21:14] natalieworth commented on #520
Original:
<img width="856" alt="screen shot 2018-03-06 at 10 54 13 am" src="https://user-images.githubusercontent.com/14876567/37058718-40f3e45a-2140-11e8-8792-b5feb3b06c98.png">

Changes:
<img width="940" alt="screen shot 2018-03-06 at 11 01 04 am" src="https://user-images.githubusercontent.com/14876567/37058750-55339f32-2140-11e8-8d86-01d592e8321d.png">

[2018-03-06 21:19] natalieworth commented on #520
Current landing page footer:
<img width="1441" alt="screen shot 2018-03-06 at 1 15 43 pm" src="https://user-images.githubusercontent.com/14876567/37058918-d9b76cb6-2140-11e8-97ce-7f48a1ee572d.png">

Current categories page footer:
<img width="1443" alt="screen shot 2018-03-06 at 1 15 35 pm" src="https://user-images.githubusercontent.com/14876567/37058945-e616a184-2140-11e8-8f1c-2ae65725a0ea.png">

[2018-03-06 21:39] natalieworth opened #521 "Change all body type from #383838 (dark grey) to black #000000"
Some areas of the site have a dark grey colored font instead of black. Need to change all #383838 to black.

[2018-03-06 21:41] natalieworth commented on #521
Original:
<img width="832" alt="screen shot 2018-03-06 at 1 38 27 pm" src="https://user-images.githubusercontent.com/14876567/37060017-e64b8a18-2143-11e8-93e6-10e862c425c9.png">

Changes:
<img width="834" alt="screen shot 2018-03-06 at 1 38 36 pm" src="https://user-images.githubusercontent.com/14876567/37060065-03af2c22-2144-11e8-97f4-b60eb59417a3.png">

[2018-03-06 21:55] natalieworth opened #522 "Update landing page explanatory caption area"
We to adjust the type and styling of this area.

- [ ]  Remove grey background
- [ ] Increase the max-width to 900px
- [ ]  add line-height of 1.4 rem (I can find pixel equivalent if needed @ScottDowne )

[2018-03-06 22:00] natalieworth commented on #522
Original:
<img width="1441" alt="screen shot 2018-03-06 at 1 15 43 pm" src="https://user-images.githubusercontent.com/14876567/37060829-55963d8a-2146-11e8-8fcc-8151b1129c5d.png">

Changes:
<img width="1454" alt="screen shot 2018-03-06 at 11 10 24 am" src="https://user-images.githubusercontent.com/14876567/37060953-aca8c26e-2146-11e8-971f-13dd886fd6be.png">

[2018-03-06 22:07] natalieworth opened #523 "Increase spacing on product page between product description paragraph and 'Safety Review' heading"
After product paragraph, add more margin-bottom 40px (?)(padding? ACK—not sure the correct terminology here) between the paragraph and 'safety review' heading.

[2018-03-06 22:11] natalieworth commented on #523
Changes:
<img width="1363" alt="screen shot 2018-03-06 at 11 14 20 am" src="https://user-images.githubusercontent.com/14876567/37061385-36397d38-2148-11e8-97dc-f9cd21bdeffc.png">

[2018-03-06 22:16] natalieworth opened #524 "Increase product paragraph line-height"
Change product paragraph line-height to 1.6 rem.

[2018-03-06 22:17] natalieworth commented on #524
Changes:
<img width="1226" alt="screen shot 2018-03-06 at 2 17 10 pm" src="https://user-images.githubusercontent.com/14876567/37061698-1e3f77d6-2149-11e8-922f-a4ef7ba48876.png">

[2018-03-06 22:52] natalieworth opened #525 "Update type on 'Why We Made This Guide' page"
Need to adjust the type on the 'Why We Made This Guide' page as follows:

- [ ] 'Why We Made This Guide' Heading to 52px
- [ ] increase h2 heading (e.g. "Privacy. Security. Safety") to 30px and change to Open Sans (font-weight 300), with 1.85 rem line-height
- [ ] increase the body copy size to 20px
- [ ] Increase max-width of page to 900px
- [ ] Change body copy links (e.g. "Then we did a survey"

[2018-03-06 23:07] natalieworth commented on #525
Original:
<img width="1443" alt="screen shot 2018-03-06 at 1 27 04 pm" src="https://user-images.githubusercontent.com/14876567/37063462-49a884ee-214e-11e8-8554-419f653ed8b0.png">

Changes:
<img width="1412" alt="screen shot 2018-03-06 at 3 06 48 pm" src="https://user-images.githubusercontent.com/14876567/37063939-07a5ded2-2150-11e8-967e-3813a2190926.png">

[2018-03-21 12:46] auremoser opened #527 "Updates to OWF site: open applications for fellows -> redirect to foundation"
cc
@kristinashu
@ScottDowne
@community-impact
@annmarie123

## Context
The fellowship applications open today, and it occurs to me that we should probably setup redirections on our previous sites (Advocacy and Science) so folks looking there can be pointed to the appropriate application site: https://foundation.mozilla.org/fellowships/apply

My suggestion is to just uncomment previous "application

[2018-03-21 13:07] alanmoo commented on #527
Is there any reason we shouldn’t just forward all traffic from those pages automatically to the new fellowships site?

[2018-03-21 13:27] auremoser commented on #527
We have a lot more on those sites than just the apply now buttons, for example, net policy blog and some of our campaigns are featured there. I think it would probs be a longer discussion about the utility of that whole collection of pages than might be reasonable rn.

Happy to discuss but since the page is live, the site probably won't be shut down in a while, and we ran the host org applications

[2018-03-21 14:04] alanmoo commented on #527
That's fine, just wanted to put it out there as an option.

[2018-03-22 14:28] #527 closed

[2018-05-02 22:58] natalieworth commented on #496
@caltrider Could I close this? Think we just ran out of time so not sure if it's relevant anymore.

[2018-05-03 14:04] caltrider commented on #496
@natalieworth Yes, you can close this.

[2018-05-07 18:36] #496 closed

[2018-07-03 16:43] #498 closed

[2018-07-03 16:43] beccaklam commented on #498
Closing this, though we may open a new ticket for PNI #2 :)

[2018-09-04 23:24] stephaniemcv opened #538 "Update Codemoji feedback email link"
Hey @alanmoo
I need the Feedback link on the [Codemoji page footer](https://codemoji.org/#/welcome) updated from askjoin@mozilla.org to network@mozillafoundation.org. We'll be retiring askjoin@ in the next couple of weeks.

[2018-09-05 17:56] alanmoo commented on #538
Updated in https://github.com/mozilla/codemoji/commit/d3ce3bf342c38935d5901f11df78bd66495f8f02

[2018-09-05 17:56] #538 closed, assigned to stephaniemcv

[2018-10-03 19:59] cadecairos commented on #373
Going to close this out, lets re-open if it's still a problem.

[2018-10-03 19:59] #373 closed

[2018-11-21 23:09] #523 closed

[2018-11-21 23:09] #524 closed

[2018-11-21 23:09] #525 closed

[2018-11-21 23:10] #520 closed

[2018-11-21 23:10] #521 closed

[2018-11-21 23:10] #522 closed

[2018-11-21 23:10] #516 closed

[2018-11-21 23:10] #517 closed

[2018-11-21 23:10] #518 closed

[2018-11-21 23:10] #519 closed

[2019-02-18 00:49] ghost opened #549 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/advocacy.mozilla.org/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of publically writeable wi

[2019-03-29 04:59] ghost opened #550 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2020-02-24 15:33] cadecairos opened #553 "Replace Coral talk domain in CSP"
https://github.com/mozilla/advocacy.mozilla.org/blob/e1dcf4e169f645b03fff9ed8e98ae18f4dbdc80c/scripts/csp-directives.js#L37

replace with `https://comments.mozillafoundation.org`

https://bugzilla.mozilla.org/show_bug.cgi?id=1617390